<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="aboutuspage.css">
    <link rel="stylesheet" href="navStyle.css">
</head>
{{> messages}}

{{>navBar}}

<body>
    <header>
        <img src="images/pizzeria-header.jpg" alt="Header Image" class="header-image">
        <div class="header-content">
            <p>About Us</p>
        </div>
    </header>

    <main>

        <section class="about-section">
    <div class="container">
        <h2>About Us</h2>
        <p class="about-text">"World Peas is a passionate community-driven platform dedicated to promoting and celebrating local
            restaurants worldwide. Our mission is to celebrate the diverse culinary culture of different regions
            and support small businesses in the food industry. With World Peas, you can explore hidden gems,
            traditional eateries, and innovative culinary experiences in your neighborhood and beyond. We
            believe in the power of local flavors and strive to connect food enthusiasts with authentic dining
            experiences. Whether you're a foodie looking for new dining adventures or a restaurant owner seeking
            to increase your visibility, We are here to provide World Peas for everyone!</p>
    </div>
</section>

         <section class="team-section">
            <div class="container">
                <h2>The Team</h2>
                <p>
                    <div class="img-container">
                    <img src="images/williamPic.jpg" alt="Team Image" class="mem1-image">
                    <img src="images/team2.jpg" alt="Team Image" class="mem2-image">
                    <img src="images/team3.jpg" alt="Team Image" class="mem3-image">
                    </div>

                    <div class="img-details">
                        <div class="member1-details">
                            <div class="h1-mem1">
                            Prinze Perez
                            </div>
                        <br>
                        Github: <a href="https://github.com/Orieo">Orieo</a> <br>
                        Facebook: <a href="https://www.facebook.com/perinzepe">perinzepe</a> <br>
                        Email: <span class="email1">prinze_perez@dlsu.edu.ph</span>
                        </div>
                        <div class="member2-details">   
                            <div class="h1-mem2">
                            Carlos Gonzaga
                            </div>
                        <br>
                        Github: <a href="https://github.com/saltybalot">saltybalot</a> <br>
                        Facebook: <a href="https://www.facebook.com/Saltybalot">Saltybalot</a> <br>
                        Email: <span class="email2">Carlos_dominic_gonzaga<br>@dlsu.edu.ph</span>
                        </div>
                        <div class="member3-details">       
                            <div class="h1-mem3">
                            Jared Ranjo
                            </div>     
                        <br>
                        Github: <a href="https://github.com/JavaJZR">JavaJZR</a> <br>
                        Facebook: <a href="https://www.facebook.com/jared.ranjo">jared.ranjo</a> <br>
                        Email: <span class="email3">jared_ranjo@dlsu.edu.ph</span>
                        </div>
                    </div>
                     </p>
            </div>
        </section>

        <section class="mission-section">
            <div class="container">
                <h2>Our Mission</h2>
                <p>Our mission at World Peas is to serve as a global platform that fosters a vibrant culinary community,
                    connecting food enthusiasts with local restaurants and celebrating the rich tapestry of global
                    cuisines. We are dedicated to promoting and supporting local restaurants worldwide, providing a
                    platform for them to showcase their unique flavors and culinary traditions. Through our platform, we
                    aim to empower small businesses in the food industry and contribute to the cultural diversity of
                    communities. </p>
            </div>
                
        </section>

        <section class="npm-packages">
            <h2 class="npmh2">NPM Packages</h2>
            <div class="npm-container1">
                <div class="gray-container">
                    <img src="images/expressicon.png" alt="Left Image" class="left-image">
                        <div class="text-container">
                            <h2>Express</h2>
                            <p>A flexible Node.js web application framework that provides a set of features for building web and mobile apps.</p>
                        </div>
                </div>
            </div>
            <div class="npm-container2">
                <div class="gray-container">
                    <img src="images/expressicon.png" alt="Left Image" class="left-image">
                        <div class="text-container">
                            <h2>Express File-Upload</h2>
                            <p>Handles file uploads in Node.js applications using Express framework. It simplifies the process of receiving files from client requests and saving the uploaded files to the server.</p>
                        </div>
                </div>
            </div>
            <div class="npm-container3">
                <div class="gray-container">
                    <img src="images/hbs.png" alt="Left Image" class="left-image">
                        <div class="text-container">
                            <h2>HBS</h2>
                            <p>templating engine for JavaScript that simplifies HTML rendering by allowing developers to create reusable templates with dynamic content.</p>
                        </div>
                </div>
            </div>
             <div class="npm-container4">
                <div class="gray-container">
                    <img src="images/expressicon.png" alt="Left Image" class="left-image">
                        <div class="text-container">
                            <h2>Express-Session</h2>
                            <p>Manages session data in web applications. It provides functionality for creating, maintaining, and managing user sessions, including options for session storage, session expiration, and session identification.</p>
                        </div>
                </div>
            </div>
            <div class="npm-container5">
                <div class="gray-container">
                    <img src="images/mongoose.png" alt="Left Image" class="left-image">
                        <div class="text-container">
                            <h2>Mongoose</h2>
                            <p>Mongoose is an Object Data Modeling (ODM) library for MongoDB and Node.js. It provides a straightforward way to model your application data with MongoDB</p>
                        </div>
                </div>
            </div>
            <div class="npm-container6">
                <div class="gray-container">
                    <img src="images/expressicon.png" alt="Left Image" class="left-image">
                        <div class="text-container">
                            <h2>Bcrypt.js</h2>
                            <p>A library used for hashing passwords in Node.js applications, providing a secure way to store user passwords by converting them into irreversible hashes.</p>
                        </div>
                </div>
            </div>
            <div class="npm-container7">
                <div class="gray-container">
                    <img src="images/expressicon.png" alt="Left Image" class="left-image">
                        <div class="text-container">
                            <h2>Connect-flash</h2>
                            <p>A middleware for Node.js web applications, commonly used with Express.js. It provides a way to store and retrieve flash messages, which are temporary messages typically used for displaying feedback or notifications to users after certain actions</p>
                        </div>
                </div>
            </div>
            <div class="npm-container8">
                <div class="gray-container">
                    <img src="images/expressicon.png" alt="Left Image" class="left-image">
                        <div class="text-container">
                            <h2>Connect-Mongo</h2>
                            <p>A middleware for Express.js applications that provides session storage using MongoDB. It allows developers to store session data securely in a MongoDB database, providing features like automatic session expiration, session cleanup, and efficient session management.</p>
                        </div>
                </div>
            </div>
            <div class="npm-container9">
                <div class="gray-container">
                    <img src="images/expval.png" alt="Left Image" class="left-image">
                        <div class="text-container">
                            <h2>Express-validator</h2>
                            <p>helps ensure data integrity by checking for valid input formats, preventing malicious input, and handling errors, making it an essential tool for building secure and reliable web applications with Express.js</p>
                        </div>
                </div>
            </div>
        </section>

    </main>

    <footer>
       
    </footer>
</body>

</html>