body {
  margin: 0;
  font-family: Alata, sans-serif;
  background-color: #fcedda;
  font-size: 18px;
}

header {
  background-size: cover;
  height: 100px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 17px;
}

.container {
  max-width: 660px;
  margin: auto;
}

.mission-section {
  color: #333; /* Text color for sections */
  padding:170px 0;
}

.about-section {
  color: #333; /* Text color for sections */
  padding:80px 0;
}

.about-section h2 {
  color: white;
  margin-top: -50px;
  height: 175px;
  text-align: center;
  font-size: 44px;
}


.mission-section h2, .team-section h2 {
  color: #ee4e34; /* Heading color for sections */
  text-align: center;
}

.npmh2 {
  color: #ee4e34; /* Heading color for sections */
  text-align: center;
  padding-top: 80px;
}
.img-container {
  display: flex;
}

.mem1-image {
  background-size: cover;
  height: 358px;
  display: flex;
  margin-left: -140px;
}

.mem2-image, .mem3-image {
  background-size: cover;
  margin-left: 60px;
  height: 359px;
}

.img-details {
  display: flex;
  position: relative;
}

.member1-details {
  position: absolute;
  left: -140px;
  width: 270px;
  background-color: white;
  padding: 10px;
  height: 150px;
  box-sizing: border-box;

  text-align: left;
  font-size: 16px;
  font-weight:bold;
}

.member2-details {
  position: absolute;
  left: 190px;
  padding-right: 40px;
  width: 270px;
  background-color: white;
  padding: 10px;
  height: 150px;
  box-sizing: border-box;

  text-align: left;
  font-size: 16px;
  font-weight:bold;
}

.member3-details {
  position: absolute;
  left: 520px;
  width: 270px;
  background-color: white;
  padding: 10px;
  height: 150px;
  box-sizing: border-box;

  text-align: left;
  font-size: 16px;
  font-weight:bold;
}

.h1-mem1, .h1-mem2, .h1-mem3{
  font-size: 19px;
  font-weight:bold;
}

.email3, .email2, .email1{
  font-weight: normal;
}
.about-section p,
.mission-section p {
  text-align: justify;
  line-height: 1.0;
}


.npm-container1 {
  max-height: 240px;
  max-width: 550px;
  margin: auto;
  padding-right: 650px;
  margin-top: -40px;
}

.npm-container2 {
  max-height: 240px;
  max-width: 550px;
  margin: auto;
  padding-left: 650px;
  margin-top: -158px;
}

.npm-container3 {
  max-height: 240px;
  max-width: 550px;
  margin: auto;
  padding-right: 650px;
  margin-top: 20px;
}

.npm-container4 {
  max-height: 240px;
  max-width: 550px;
  margin: auto;
  padding-left: 650px;
  margin-top: -150px;
}

.npm-container5 {
  max-height: 240px;
  max-width: 550px;
  margin: auto;
  padding-right: 650px;
  margin-top: 20px;
}

.npm-container6 {
  max-height: 240px;
  max-width: 550px;
  margin: auto;
  padding-left: 650px;
  margin-top: -164px;
}

.npm-container7 {
  max-height: 240px;
  max-width: 550px;
  margin: auto;
  padding-right: 650px;
  margin-top: 35px;
}

.npm-container8 {
  max-height: 240px;
  max-width: 550px;
  margin: auto;
  padding-left: 650px;
  margin-top: -185px;
}

.npm-container9 {
  max-height: 240px;
  max-width: 550px;
  margin: auto;
  padding-right: 650px;
  margin-top: 35px;
}

.gray-container {
  background-color: #f0f0f0; /* Gray background color */
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 30px;
}

.left-image {
  width: 45px; /* Adjust the width as needed */
  margin-right: 20px; /* Space between image and text */
}

.text-container {
  flex-grow: 1; /* Take remaining space */
}

.text-container h2 {
  color: #333; /* Title color */
}

.text-container p {
  font-size: 14px;
  color: #666; /* Text color */
}
