<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="search_css.css" />
  <link rel="stylesheet" href="navStyle.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Restaurant Review</title>
</head>

<body>
  <header class="header">
    <div class="header-content">
      <a href="FrontPageLoggedIn.html" style="text-decoration: none;">
        <h1 class="header-title">World Peas</h1>
      </a>
      <form class="header-form">
        <input type="text" id="search" name="search">
        <button type="button" onclick="redirectToPage()">
          <img src="fpicons/searchicon.png" alt="Search icon">
        </button>
      </form>
    </div>
    <div class="header-nav">
      <a href="profile.html" class="header-userprofile">User Profile</a>
      <a href="index.html" class="header-signout">Sign out</a>
    </div>

    <script>
      function redirectToPage() {
        var redirectTo = "search.html"
        window.location.href = redirectTo;
      }
    </script>
  </header>
  <div class="filter">
    <h2>Filter by:</h2>
    <div class="filter-options">
      <label for="rating">Rating:</label>
      <select id="rating">
        <option value="all">All</option>
        <option value="5">5 stars</option>
        <option value="4">4 stars</option>
        <option value="3">3 stars</option>
        <option value="2">2 stars</option>
        <option value="1">1 star</option>
      </select>
    </div>
    <div class="filter-options">
      <label for="cuisine">Cuisine:</label>
      <select id="cuisine">
        <option value="all">All</option>
        <option value="italian">Italian</option>
        <option value="mexican">Mexican</option>
        <option value="chinese">Chinese</option>
        <option value="indian">Indian</option>
        <option value="american">American</option>
      </select>
    </div>
  </div>
  <div class="container">
    <h2 class="section-title">Search Results</h2>
    <a href="/view?restaurant=Mcdonalds" style="text-decoration: none; color: black;">
      <div class="restaurant">
        <img src="images/restaurant1.jpg" alt="Restaurant Photo" class="restaurant-photo">
        <div class="restaurant-info">
          <h3 class="restaurant-name">McDonalds</h3>
          <div class="restaurant-rating">
            <img src="images/3star.png" class="star">
            <p>5 reviews</p>
          </div>
          <p class="restaurant-location">Location: Manila, Philippines</p>
        </div>
      </div>
    </a>

    <a href="/view?restaurant=Sbarro, Paco Manila" style="text-decoration: none; color: black;">
      <div class="restaurant">
        <img src="images/restaurant2.jpg" alt="Restaurant Photo" class="restaurant-photo">
        <div class="restaurant-info">
          <h3 class="restaurant-name">Sbarro</h3>
          <div class="restaurant-rating">
            <img src="images/4star.png" class="star">
            <p>5 reviews</p>
          </div>
          <p class="restaurant-location">Location: Paco Manila, Philippines</p>
        </div>
      </div>
    </a>
    <a href="/view?restaurant=Angrydobo, Taft Avenue" style="text-decoration: none; color: black;">
      <div class="restaurant">
        <img src="images/restaurant3.jpg" alt="Restaurant Photo" class="restaurant-photo">
        <div class="restaurant-info">
          <h3 class="restaurant-name">Angrydobo</h3>
          <div class="restaurant-rating">
            <img src="images/4star.png" class="star">
            <p>5 reviews</p>
          </div>
          <p class="restaurant-location">Location: Taft Avenue, Manila, Philippines</p>
        </div>
      </div>
  </div>
  </a>
  </form>
  <script src="register_script.js"></script>
</body>

</html>